/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */
 
.restore-chosen {
  background: url("chrome://browser/skin/session-restore/error-session-restore.svg") top left no-repeat;
  padding-inline-start: 300px;
}

treechildren::-moz-tree-image(icon),
treechildren::-moz-tree-image(noicon) {
  padding-right: 2px;
  margin: 0px 2px;
  width: 16px;
  height: 16px;
}

treechildren::-moz-tree-image(noicon) {
  list-style-image: url("chrome://browser/skin/session-restore/defaultFavicon.svg");
}
treechildren::-moz-tree-image(noicon, selected) {
  list-style-image: url("chrome://browser/skin/session-restore/defaultFavicon.svg#brighttext");
}
treechildren::-moz-tree-image(container, noicon) {
  list-style-image: url("chrome://browser/skin/session-restore/window.svg");
}
treechildren::-moz-tree-image(container, noicon, selected) {
  list-style-image: url("chrome://browser/skin/session-restore/window.svg#brighttext");
}
treechildren::-moz-tree-image(checked) {
  list-style-image: url("chrome://browser/skin/session-restore/check.svg");
}
treechildren::-moz-tree-image(checked, selected) {
  list-style-image: url("chrome://browser/skin/session-restore/check.svg#brighttext");
}
treechildren::-moz-tree-image(partial) {
  list-style-image: url("chrome://browser/skin/session-restore/check-partial.svg");
}
treechildren::-moz-tree-image(partial, selected) {
  list-style-image: url("chrome://browser/skin/session-restore/check-partial.svg#brighttext");
}
