/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Default icons for notifications */

.messageCloseButton {
  -moz-appearance: none;
  padding-left: 11px;
  padding-right: 11px;
  color: inherit;
}

.notification-inner {
  padding-top: 1px;
  padding-bottom: 1px;
}

.popup-notification-menubutton {
  -moz-appearance: none;
  border-radius: 2px;
  padding: 0;
  border: none;
  background: transparent;
}

.popup-notification-menubutton:not([type="menu-button"]),
.popup-notification-menubutton > .button-menubutton-button {
  border: transparent;
  background-color: #0060df;
  padding: 3px;
  color: #fff;
}

.popup-notification-menubutton > .button-menubutton-button {
  -moz-appearance: none;
  border-radius: 2px;
}

.popup-notification-menubutton:not([type="menu-button"]):hover,
.popup-notification-menubutton > .button-menubutton-button:hover {
  background-color: #003eaa;
}

.popup-notification-menubutton:not([type="menu-button"]):hover:active,
.popup-notification-menubutton > .button-menubutton-button:hover:active {
  background-color: #002275;
}

.popup-notification-menubutton:not([type="menu-button"]),
.popup-notification-menubutton > .button-menubutton-button > .button-box {
  padding-inline-start: 8px;
  padding-inline-end: 5px;
}

.popup-notification-menubutton > .button-menubutton-dropmarker {
  -moz-appearance: none !important;
  background: transparent !important;
  border: none !important;
  padding: 9px 5px 8px;
  width: auto;
  height: auto;
  list-style-image: url("chrome://global/skin/arrow/arrow-dropdown-12.svg");
  filter: url("chrome://browser/skin/filters.svg#fill");
  fill: currentColor;
  color: inherit;
}

.popup-notification-menubutton > .button-menubutton-dropmarker[open="true"] {
  margin: 0 3px 0 0;
}