/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://global/skin/in-content/info-pages.css");

#feedHeader {  
  margin-inline-start: 1.4em;
  margin-inline-end: 1em;
  -moz-padding-start: 2.9em;
}

#feedIntroText {
  display: none;
}

.feedBackground,
.videoPodcastBackground,
.audioPodcastBackground {
  background: url("chrome://browser/skin/feeds/feedIcon.svg") 0% 10% no-repeat;
}

#feedHeader[dir="rtl"] {
  background-position: 100% 10%;
}

#feedHeader[firstrun="true"] #feedIntroText {
  padding-top: 0.1em;
  -moz-padding-start: 0.6em;
  display: block;
}

#feedHeader[firstrun="true"] > #feedSubscribeLine {
  -moz-padding-start: 1.8em;
}

#feedSubscribeLine {
  padding-top: 0.2em;
}

.subscribeButton {
  border-color: transparent;
  color: #fff;
  background-color: #0a84ff;
}

.subscribeButton:hover {
  background-color: #0060df;
}

.subscribeButton:hover:active {
  background-color: #003EAA;
}

img {
  max-width: 100%;
}

/* Don't print subscription UI */
@media print {
  #feedHeaderContainer {
    display: none;
  }
}

#feedTitleLink {
  float: right;
  -moz-margin-start: .6em;
  -moz-margin-end: 0;
  margin-top: 0;
  margin-bottom: 0;
}

a[href] img {
  border: none;
}

#feedTitleContainer {
  -moz-margin-start: 0;
  -moz-margin-end: .6em;
  margin-top: 0;
  margin-bottom: 0;
}

#feedTitleImage {
  -moz-margin-start: .6em;
  -moz-margin-end: 0;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 300px;
  max-height: 150px;
}

.feedEntryContent {
  font-size: 110%;
}
 
.link {
  color: #0000FF;
  text-decoration: underline;
  cursor: pointer;
}

.link:hover:active {
  color: #FF0000;
}

.lastUpdated {
  font-size: 85%;
  font-weight: normal;
}

.type-icon {
  vertical-align: bottom;
  height: 16px;
  width: 16px;
}

.enclosures {
  border: 1px solid THreeDShadow;
  padding: 1em;
  margin: 1em auto;
  background: -moz-Dialog;
}

.enclosure {
  vertical-align: middle;
  margin-left: 2px;
}
