@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

:root {
  --toolbarbutton-border-radius: 4px !important;
  --toolbarbutton-hover-background: rgba(255,255,255,.5) linear-gradient(rgba(255,255,255,.5), transparent) !important;
  --toolbarbutton-hover-bordercolor: rgba(0,0,0,.25) !important;
  --toolbarbutton-hover-boxshadow: none !important;

  --toolbarbutton-active-background: rgba(154,154,154,.5) linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,.4)) !important;
  --toolbarbutton-active-bordercolor: rgba(0,0,0,.3) !important;
  --toolbarbutton-active-boxshadow: 0 1px 1px rgba(0,0,0,.1) inset, 0 0 1px rgba(0,0,0,.3) inset !important;

  --toolbarbutton-checkedhover-backgroundcolor: rgba(200,200,200,.5) !important;

  --urlbar-separator-color: ThreeDShadow !important;
}

/* navigator-toolbox */

#main-window[tabsontop="false"]:not(:-moz-lwtheme) #navigator-toolbox > toolbar {
  background-color: #232323;
  background-image: none;
  color: hsl(240, 9%, 98%);
  text-shadow: none;
}

/* ensure extra titlebar doesn't appear on normal (e.g. non-privacy) windows */
#main-window:not([tabsintitlebar]):not([privatebrowsingmode=temporary]):not(:-moz-lwtheme) > #titlebar > #titlebar-content > #titlebar-buttonbox-container,
#main-window:not([tabsintitlebar]):not([drawintitlebar=true]):not(:-moz-lwtheme) > #titlebar {
  display: none;
}

#main-window:not([tabsintitlebar]) #titlebar-spacer {
  display: none;
}

#main-window:not([tabsintitlebar]) #titlebar-buttonbox-container {
  margin-left: 7px;
  margin-top: 3px;
}

#main-window:-moz-lwtheme > #titlebar {
  -moz-appearance: none !important;
}

#main-window[tabsintitlebar] #titlebar-buttonbox > .titlebar-button {
  display: none;
}

/* NB: these would be margin-inline-start/end if it wasn't for the fact that OS X
 * doesn't reverse the order of the items in the titlebar in RTL mode. */
#main-window[tabsintitlebar] .titlebar-placeholder[type="caption-buttons"],
#main-window[tabsintitlebar] #titlebar-buttonbox {
  margin-left: 13px;
  margin-top: -7px;
  margin-bottom: 7px;
}

#main-window[tabsintitlebar] .titlebar-placeholder[type="fullscreen-button"],
#main-window[tabsintitlebar] #titlebar-secondary-buttonbox {
  margin-right: 13px;
  margin-left: 13px;
}

#main-window[tabsintitlebar]:not(:-moz-lwtheme) > #titlebar {
  -moz-appearance: -moz-window-titlebar;
}

#main-window:not([tabsintitlebar]) > #titlebar {
  height: 22px; /* The native titlebar on OS X is 22px tall. */
}

/**
 * For tabs in titlebar on OS X, we stretch the titlebar down so that the
 * tabstrip can overlap it.
 */
#main-window[tabsintitlebar] > #titlebar {
  padding-top: 5px;
  min-height: calc(var(--tab-min-height) + var(--space-above-tabbar) - var(--tab-toolbar-navbar-overlap));
}

/**
 * We also vertically center the window buttons.
 */
#titlebar-buttonbox-container {
  -moz-box-align: start;
}

#main-window[tabsintitlebar] > #titlebar > #titlebar-content > #titlebar-buttonbox-container,
#main-window[tabsintitlebar] > #titlebar > #titlebar-content > #titlebar-secondary-buttonbox > #titlebar-fullscreen-button {
  margin-top: 11px;
}

#main-window:not([tabsintitlebar]) > #titlebar > #titlebar-content > #titlebar-buttonbox-container,
#main-window:not([tabsintitlebar]) > #titlebar > #titlebar-content > #titlebar-secondary-buttonbox > #titlebar-fullscreen-button {
  margin-top: 3px;
}

#main-window[customize-entered] > #titlebar {
  -moz-appearance: none;
}

/* ::::: bookmark buttons ::::: */

.bookmark-item > .toolbarbutton-icon[label]:not([label=""]),
.bookmark-item > .toolbarbutton-icon[type="menu"] {
  margin-inline-end: 5px;
}

/* Appcontent fix/hack */
#appcontent {
  margin: 0 -5px !important;
}

/* Tab fixes */
#TabsToolbar[tabsontop="true"]:not(:-moz-lwtheme),
#TabsToolbar:not([tabsontop]):not(:-moz-lwtheme) {
  background-color: #232323;
  background-image: none;
  color: hsl(240, 9%, 98%);
  text-shadow: none;
}

#main-window[tabsintitlebar] #TabsToolbar:not([tabsontop="false"]) {
  padding-inline-start: 105px;
}

#TabsToolbar[tabsontop="false"]:not(:-moz-lwtheme) {
  box-shadow: 0 -1px 0 rgba(255,255,255,.3) inset;
}

.tabbrowser-tab[selected="true"]:not(:-moz-lwtheme),
.tabbrowser-tab[selected="true"]:not(:-moz-lwtheme) > * > * > .tab-text {
  color: #000;
  text-shadow: none;
}

.tabbrowser-tab[beforeselected]::after,
.tabbrowser-tab[selected]::after {
  display: none;
}

.tab-background[selected] {
  margin-top: -1px;
}

.toolbarbutton-1 > .toolbarbutton-menu-dropmarker,
.toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker {
  list-style-image: url("chrome://global/skin/arrow/arrow-dropdown-12.svg");
  filter: url(chrome://browser/skin/filters.svg#fill);
  fill: currentColor;
  color: inherit;
}

/* Location bar */
#urlbar,
.searchbar-textbox {
  font-size: 1.25em;
}

/* Customization mode */

#main-window[tabsintitlebar][customize-entered] > #titlebar,
#main-window[privatebrowsingmode=temporary]:not([tabsintitlebar])[customize-entered] > #titlebar,
#main-window[customize-entered] > #tab-view-deck {
  background-image: url("chrome://browser/skin/customizableui/customizeMode-gridTexture.png"),
                    url("chrome://browser/skin/customizableui/background-noise-toolbar.png"),
                    linear-gradient(to bottom, #232323, #232323 40px);
  background-attachment: fixed;
}

#main-window[tabsintitlebar][customization-lwtheme] > #titlebar:-moz-lwtheme,
#main-window[customization-lwtheme] > #tab-view-deck:-moz-lwtheme {
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  /* The image will get set from CustomizeMode.jsm */
  background-image: none;
  background-color: transparent;
}

#main-window[customization-lwtheme]:-moz-lwtheme {
  background-image: url("chrome://browser/skin/customizableui/customizeMode-gridTexture.png"),
                    url("chrome://browser/skin/customizableui/background-noise-toolbar.png");
  background-color: #232323;
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: left top;
}

#main-window[customize-entered] #browser-bottombox,
#main-window[customize-entered] #navigator-toolbox > toolbar:not(#TabsToolbar),
#main-window[customize-entered] #customization-container {
  border: 3px solid hsla(0,0%,0%,.1);
  border-top-width: 0;
  background-clip: padding-box;
  background-origin: padding-box;
  -moz-border-right-colors: hsla(0,0%,0%,.05) hsla(0,0%,0%,.1) hsla(0,0%,0%,.2);
  -moz-border-bottom-colors: hsla(0,0%,0%,.05) hsla(0,0%,0%,.1) hsla(0,0%,0%,.2);
  -moz-border-left-colors: hsla(0,0%,0%,.05) hsla(0,0%,0%,.1) hsla(0,0%,0%,.2);
}

#main-window[customize-entered] #customization-container,
#main-window[customize-entered] #navigator-toolbox > toolbar:not(#TabsToolbar) {
  border-bottom-width: 0;
}

#main-window[customize-entered] #nav-bar {
  border-top-left-radius: 2.5px;
  border-top-right-radius: 2.5px;
}

/* Compensate for the border set above for this horizontal line. */
#main-window[customize-entered] #navigator-toolbox::after {
  margin-left: 3px;
  margin-right: 3px;
}

#main-window[customize-entered] #TabsToolbar {
  background-clip: padding-box;
  border-right: 3px solid transparent;
  border-left: 3px solid transparent;
}

/* End customization mode */

/* Private browsing indicator */

#main-window[privatebrowsingmode=temporary]:not([tabsintitlebar]) #TabsToolbar::before {
  display: -moz-box;
  content: "";
  background: url("chrome://browser/skin/private-browsing.svg") center no-repeat;
  width: 30px;
  color: inherit;
}