/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== primaryToolbar.css =============================================
   == Images for the Mail primary toolbar.
   == This file is mainly about the general look-and-feel of
   == native-OS-style toolbars at the top of various windows, as well as
   == the specifically about the ones that appear on the 3-pane window and
   == the standalone message window.  The other native-OS-style toolbars
   == (addressbook and compose) are already styled elsewhere.
   ====================================================================== */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#navigation-toolbox {
  -moz-appearance: none;
  border-top-width: 0;
  background-color: transparent;
}

#tabs-toolbar {
  margin-bottom: -1px;
}

#navigation-toolbox::after {
  content: "";
  display: -moz-box;
  height: 1px;
  background-color: ThreeDShadow;
}

.mail-toolbox > toolbar:-moz-lwtheme,
.contentTabToolbox > toolbar:-moz-lwtheme {
  border-top: none;
}

.button-appmenu .toolbarbutton-text,
.button-appmenu .toolbarbutton-menu-dropmarker {
  display: none;
}

toolbar[mode="text"] .button-appmenu .toolbarbutton-icon {
  display: -moz-box;
}

#folderPane-toolbar #locationFolders,
#folderPane-toolbar > #folder-location-container,
#folderPane-toolbar > #folderpane-mode-selector {
  -moz-box-flex: 1;
}

#folderPane-toolbar > .toolbarbutton-1,
#folderPane-toolbar > toolbaritem > menulist {
  margin: 0;
}

#folderPane-toolbar > :-moz-any(*) + :-moz-any(*) {
  margin-inline-start: 2px;
}

/* Force the folder location and mail view items to fit in the available width
   in the Customize Toolbar dialog. */
#palette-box #locationFolders,
#palette-box #folder-location-container,
#palette-box #folderpane-mode-selector,
#palette-box #viewPicker {
  -moz-box-flex: 1;
}

/* ::::: message notification bar style rules ::::: */

.msgNotificationBar {
  background-color: InfoBackground;
  color: InfoText;
  border-bottom: 1px solid ThreeDDarkShadow;
  padding: 3px;
}

.msgNotificationBarText {
  font-weight: bold;
}

.msgNotificaton-smallText {
  padding-inline-start: 10px;
  font-size: 90%;
}

.button-appmenu {
  min-width: 35px !important;
  margin-right: 3px;
  margin-left: 3px;
}

/* AppMenu styling */

.splitmenu-menuitem {
  margin-inline-end: 1px;
}

.splitmenu-menu {
  -moz-box-pack: end;
}

.appmenu-edit-button {
  -moz-appearance: none;
  border: 1px solid transparent;
  padding: 2px;
  background: transparent;
  border-radius: 3px;
}

.appmenu-edit-button[disabled="true"] {
  opacity: .3;
}

#appmenuPrimaryPane {
  border-inline-end: 1px solid ThreeDShadow;
}

@media (-moz-windows-default-theme) {
  #appmenu-popup {
    -moz-appearance: none;
    background: -moz-Field;
    border: 1px solid ThreeDShadow;
  }
  #appmenuPrimaryPane {
    background-color: rgba(255, 255, 255, .5);
    padding: 2px;
    border-inline-end: none;
  }
  #appmenuSecondaryPane {
    background-color: var(--appMenu-bg-color);
    box-shadow: 1px 0 2px var(--appMenu-bg-box-shadow) inset;
    padding-inline-start: 3px;
    padding-inline-end: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-family: "Segoe UI Semibold", "Segoe UI", sans-serif;
  }
  #appmenuSecondaryPane:-moz-locale-dir(rtl) {
    box-shadow: -1px 0 2px var(--appMenu-bg-box-shadow) inset;
  }

  .appmenu-menuseparator {
    -moz-appearance: none;
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 0;
    border-top: 1px solid #d6e5f5;
    border-bottom: none;
  }

  .appmenu-edit-button:not([disabled]):hover {
    border: 1px solid #b8d6fb;
    box-shadow: inset 0 0 1px white;
    background: linear-gradient(#fafbfd, #ebf3fd);
    transition: .2s ease-in;
  }
}

.appmenuPane-spacer {
  min-height: 1em;
}

#appmenu-editmenu {
  -moz-box-pack: end;
}

#appmenu_new {
  list-style-image: url("chrome://messenger/skin/icons/new.svg");
  color: inherit;
}

#appmenu_msgAttachmentMenu {
  list-style-image: url("chrome://messenger/skin/icons/attach.svg");
  color: inherit;
}

#appmenu-cut,
#appmenu-editmenu-cut {
  list-style-image: url("chrome://messenger/skin/icons/cut.svg");
  color: inherit;
}

#appmenu-copy,
#appmenu-editmenu-copy {
  list-style-image: url("chrome://messenger/skin/icons/copy.svg");
  color: inherit;
}

#appmenu-paste,
#appmenu-editmenu-paste {
  list-style-image: url("chrome://messenger/skin/icons/paste.svg");
  color: inherit;
}

#appmenu_find {
  list-style-image: url("chrome://messenger/skin/icons/search-glass.svg");
  color: inherit;
}

#appmenu_print,
#appmenu_print_popup {
  list-style-image: url("chrome://messenger/skin/icons/print.svg");
  color: inherit;
}

#appmenu_saveAs {
  list-style-image: url("chrome://messenger/skin/icons/save-as.svg");
  color: inherit;
}

#appmenu_emptyTrash {
  list-style-image: url("chrome://messenger/skin/icons/delete.svg");
  color: inherit;
}

#appmenu_activityManager {
  list-style-image: url("chrome://global/skin/icons/performance.svg");
  color: inherit;
}

#appmenu_filters,
#appmenu_filtersCmd {
  list-style-image: url("chrome://messenger/skin/icons/filter.svg");
  color: inherit;
}

#appmenu_customize,
#appmenu_preferences {
  list-style-image: url("chrome://mozapps/skin/extensions/utilities.svg");
  color: inherit;
}

#appmenu-quit {
  list-style-image: url("chrome://messenger/skin/icons/quit.svg");
  color: inherit;
}

#appmenu_help,
#appmenu_openHelp {
  list-style-image: url("chrome://global/skin/icons/help.svg");
  color: inherit;
}

#appmenu_addressBook {
  list-style-image: url("chrome://messenger/skin/icons/address.svg");
  color: inherit;
}

#appmenu-edit-label {
  -moz-appearance: none;
  background: transparent;
  font-style: italic;
}

#appmenu_addons {
  list-style-image: url("chrome://messenger/skin/icons/extensionGeneric.svg");
}

#appmenu_customize > .splitmenu-menuitem,
#appmenu_preferences > .menu-iconic-left > .menu-iconic-icon,
#appmenu_addons > .menu-iconic-left > .menu-iconic-icon {
  filter: var(--icon-filter);
  fill: currentColor;
}

.mail-toolbox > toolbar {
  margin-inline-start: 0;
  border-bottom: none;
  /* force iconsize="small" on these toolbars */
  counter-reset: smallicons;
}

.mail-toolbox > toolbar:not([type="menubar"]) {
  padding: 1px;
}

.mail-toolbox > toolbar,
#navigation-toolbox > toolbar,
.contentTabToolbox:not(:-moz-lwtheme) > toolbar {
  -moz-appearance: none;
  border-style: none;
  background-color: -moz-dialog;
}

.chromeclass-toolbar {
  /* Toolbar buttons have a margin of 3px; adjust the toolbar so the leftmost
      button lines up with the rest of the window. */
  margin-inline-start: -3px;
}

/* ::::: toolbar buttons on tabbar toolbar ::::: */

#tabbar-toolbar
  .toolbarbutton-menubutton-button:not([disabled]):hover:-moz-locale-dir(rtl) {
  background-position: 1px -1px, 100% -1px;
}

#button-getmsg {
  list-style-image: url("chrome://messenger/skin/icons/getmsg.svg");
}

#button-newmsg {
  list-style-image: url("chrome://messenger/skin/icons/newmsg.svg");
}

#button-address {
  list-style-image: url("chrome://messenger/skin/icons/address.svg");
}

#button-reply {
  list-style-image: url("chrome://messenger/skin/icons/reply.svg");
}

#button-replyall {
  list-style-image: url("chrome://messenger/skin/icons/replyall.svg");
}

#button-replylist {
  list-style-image: url("chrome://messenger/skin/icons/replylist.svg");
}

#button-forward {
  list-style-image: url("chrome://messenger/skin/icons/forward.svg");
}

.delete-button {
  list-style-image: url("chrome://messenger/skin/icons/delete.svg");
}

.junk-button {
  list-style-image: url("chrome://messenger/skin/icons/junk.svg");
}

#button-print {
  list-style-image: url("chrome://messenger/skin/icons/print.svg");
}

#button-stop {
  list-style-image: url("chrome://messenger/skin/icons/stop.svg");
}

#button-file {
  list-style-image: url("chrome://messenger/skin/icons/file.svg");
}

#button-nextUnread {
  list-style-image: url("chrome://messenger/skin/icons/nextunread.svg");
}

#button-previousUnread {
  list-style-image: url("chrome://messenger/skin/icons/previousunread.svg");
}

#button-mark {
  list-style-image: url("chrome://messenger/skin/icons/mark.svg");
}

#button-tag {
  list-style-image: url("chrome://messenger/skin/icons/tag.svg");
}

#button-goback {
  list-style-image: url("chrome://messenger/skin/icons/goback.svg");
}

#button-goforward {
  list-style-image: url("chrome://messenger/skin/icons/goforward.svg");
}

#button-compact {
  list-style-image: url("chrome://messenger/skin/icons/compact.svg");
}

#button-archive {
  list-style-image: url("chrome://messenger/skin/icons/archive.svg");
}

#button-nextMsg {
  list-style-image: url("chrome://messenger/skin/icons/nextmsg.svg");
}

#button-previousMsg {
  list-style-image: url("chrome://messenger/skin/icons/previousmsg.svg");
}

#qfb-show-filter-bar {
  list-style-image: url("chrome://messenger/skin/icons/filter.svg");
}

#button-showconversation {
  list-style-image: url("chrome://messenger/skin/icons/conversation.svg");
}

#button-addons {
  list-style-image: url("chrome://mozapps/skin/extensions/extensionGeneric-16.svg");
}

.button-appmenu {
  list-style-image: url("chrome://messenger/skin/icons/appbutton.svg");
  min-width: 35px !important;
  margin-right: 3px;
  margin-left: 3px;
}

toolbar[brighttext] #button-getmsg {
  list-style-image: url("chrome://messenger/skin/icons/getmsg.svg#brighttext");
}

toolbar[brighttext] #button-newmsg {
  list-style-image: url("chrome://messenger/skin/icons/newmsg.svg#brighttext");
}

toolbar[brighttext] #button-address {
  list-style-image: url("chrome://messenger/skin/icons/address.svg#brighttext");
}

toolbar[brighttext] #button-reply {
  list-style-image: url("chrome://messenger/skin/icons/reply.svg#brighttext");
}

toolbar[brighttext] #button-replyall {
  list-style-image: url("chrome://messenger/skin/icons/replyall.svg#brighttext");
}

toolbar[brighttext] #button-replylist {
  list-style-image: url("chrome://messenger/skin/icons/replylist.svg#brighttext");
}

toolbar[brighttext] #button-forward {
  list-style-image: url("chrome://messenger/skin/icons/forward.svg#brighttext");
}

toolbar[brighttext] .delete-button {
  list-style-image: url("chrome://messenger/skin/icons/delete.svg#brighttext");
}

toolbar[brighttext] .junk-button {
  list-style-image: url("chrome://messenger/skin/icons/junk.svg#brighttext");
}

toolbar[brighttext] #button-print {
  list-style-image: url("chrome://messenger/skin/icons/print.svg#brighttext");
}

toolbar[brighttext] #button-stop {
  list-style-image: url("chrome://messenger/skin/icons/stop.svg#brighttext");
}

toolbar[brighttext] #button-file {
  list-style-image: url("chrome://messenger/skin/icons/file.svg#brighttext");
}

toolbar[brighttext] #button-next > #button-nextUnread {
  list-style-image: url("chrome://messenger/skin/icons/nextunread.svg#brighttext");
}

toolbar[brighttext] #button-previous > #button-previousUnread {
  list-style-image: url("chrome://messenger/skin/icons/previousunread.svg#brighttext");
}

toolbar[brighttext] #button-mark {
  list-style-image: url("chrome://messenger/skin/icons/mark.svg#brighttext");
}

toolbar[brighttext] #button-tag {
  list-style-image: url("chrome://messenger/skin/icons/tag.svg#brighttext");
}

toolbar[brighttext] #button-goback {
  list-style-image: url("chrome://messenger/skin/icons/goback.svg#brighttext");
}

toolbar[brighttext] #button-goforward {
  list-style-image: url("chrome://messenger/skin/icons/goforward.svg#brighttext");
}

toolbar[brighttext] #button-compact {
  list-style-image: url("chrome://messenger/skin/icons/compact.svg#brighttext");
}

toolbar[brighttext] #button-archive {
  list-style-image: url("chrome://messenger/skin/icons/archive.svg#brighttext");
}

toolbar[brighttext] #button-nextMsg {
  list-style-image: url("chrome://messenger/skin/icons/nextmsg.svg#brighttext");
}

toolbar[brighttext] #button-previousMsg {
  list-style-image: url("chrome://messenger/skin/icons/previousmsg.svg#brighttext");
}

toolbar[brighttext] #qfb-show-filter-bar {
  list-style-image: url("chrome://messenger/skin/icons/filter.svg#brighttext");
}

toolbar[brighttext] #button-showconversation {
  list-style-image: url("chrome://messenger/skin/icons/conversation.svg#brighttext");
}

toolbar[brighttext] .button-appmenu {
  list-style-image: url("chrome://messenger/skin/icons/appbutton.svg#brighttext");
}

toolbar:not([mode="text"]) > #button-chat > stack,
toolbar:not([mode="text"]) > toolbarpaletteitem > #button-chat > stack {
  margin: 1px;
}

toolbar[iconsize="large"]:not([mode="text"]) .badgeButton-badge {
  margin-inline-start: 7px;
  margin-bottom: 7px;
}

#palette-box .toolbarbutton-1,
#palette-box .toolbarbutton-menubutton-button,
#palette-box .toolbarbutton-menubutton-dropmarker {
  border: none;
  background: none;
  box-shadow: none;
}

#palette-box #qfb-show-filter-bar {
  list-style-image: url("chrome://messenger/skin/icons/filter.svg");
  color: inherit;
}

/* remove the small icons checkbox in Customize window */
#smallicons {
  display: none;
}

/* AppMenu styling */

.splitmenu-menuitem {
  padding-inline-end: 0.5em;
}

@media not all and (-moz-windows-compositor) {
  #print-preview-toolbar:not(:-moz-lwtheme) {
    -moz-appearance: -moz-win-browsertabbar-toolbox;
  }
}

@media (-moz-windows-default-theme) {
  #appmenu-popup {
    -moz-appearance: none;
    background: white;
    border: 1px solid ThreeDShadow;
  }
  #appmenuPrimaryPane {
    padding: 2px;
    border-inline-end: 1px solid var(--appmenu-separator-color);
  }
  #appmenuSecondaryPane {
    padding-inline-start: 3px;
    padding-inline-end: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-family: "Segoe UI Semibold", "Segoe UI", sans-serif;
  }

  #appmenuPrimaryPane menupopup,
  #appmenuSecondaryPane menupopup {
    -moz-appearance: none;
    background-image: linear-gradient(to right, white 26px, ThreeDLightShadow 26px,
                                      ThreeDLightShadow 27px, ThreeDHighlight 27px,
                                      ThreeDHighlight 28px, white 28px);
    border: 3px solid;
    -moz-border-top-colors: ThreeDShadow white;
    -moz-border-bottom-colors: ThreeDShadow white;
    -moz-border-left-colors: ThreeDShadow white;
    -moz-border-right-colors: ThreeDShadow white;
  }

  #appmenuPrimaryPane menupopup:-moz-locale-dir(rtl),
  #appmenuSecondaryPane menupopup:-moz-locale-dir(rtl) {
    background-image: linear-gradient(to left, white 26px, ThreeDLightShadow 26px,
                                      ThreeDLightShadow 27px, ThreeDHighlight 27px,
                                      ThreeDHighlight 28px, white 28px);
  }

  /* Hi-DPI overrides of the menu backgrounds, to adjust where the gutter line falls */
  @media (min-resolution: 1.25dppx) {
    #appmenuPrimaryPane menupopup,
    #appmenuSecondaryPane menupopup {
      background-image: linear-gradient(to right, white 22.4px, ThreeDLightShadow 22.4px,
                                        ThreeDLightShadow 23.2px, ThreeDHighlight 23.2px,
                                        ThreeDHighlight 24px, white 24px);
    }
    #appmenuPrimaryPane menupopup:-moz-locale-dir(rtl),
    #appmenuSecondaryPane menupopup:-moz-locale-dir(rtl) {
      background-image: linear-gradient(to left, white 22.4px, ThreeDLightShadow 22.4px,
                                      ThreeDLightShadow 23.2px, ThreeDHighlight 23.2px,
                                      ThreeDHighlight 24px, white 24px);
    }
  }

  @media (min-resolution: 1.5dppx) {
    #appmenuPrimaryPane menupopup,
    #appmenuSecondaryPane menupopup {
      background-image: linear-gradient(to right, white 20.6667px, ThreeDLightShadow 20.6667px,
                                        ThreeDLightShadow 21.3333px, ThreeDHighlight 21.3333px,
                                        ThreeDHighlight 22px, white 22px);
    }
    #appmenuPrimaryPane menupopup:-moz-locale-dir(rtl),
    #appmenuSecondaryPane menupopup:-moz-locale-dir(rtl) {
      background-image: linear-gradient(to left, white 20.6667px, ThreeDLightShadow 20.6667px,
                                        ThreeDLightShadow 21.3333px, ThreeDHighlight 21.3333px,
                                        ThreeDHighlight 22px, white 22px);
    }
  }

  @media (min-resolution: 2dppx) {
    #appmenuPrimaryPane menupopup,
    #appmenuSecondaryPane menupopup {
      background-image: linear-gradient(to right, white 19.5px, ThreeDLightShadow 19.5px,
                                        ThreeDLightShadow 20px, ThreeDHighlight 20px,
                                        ThreeDHighlight 20.5px, white 20.5px);
    }
    #appmenuPrimaryPane menupopup:-moz-locale-dir(rtl),
    #appmenuSecondaryPane menupopup:-moz-locale-dir(rtl) {
      background-image: linear-gradient(to left, white 19.5px, ThreeDLightShadow 19.5px,
                                        ThreeDLightShadow 20px, ThreeDHighlight 20px,
                                        ThreeDHighlight 20.5px, white 20.5px);
    }
  }
}