/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://global/skin/in-content/info-pages.css");

#errorPageContainer {
  position: relative;
  min-width: 13em;
  max-width: 52em;
  margin: 4em auto;
  padding: 3em;
  -moz-padding-start: 30px;
  background: url("chrome://browser/skin/cert-error.svg") left 0 no-repeat;
  background-origin: content-box;
}

#errorPageContainer:-moz-dir(rtl) {
  background-position: right 0;
}

#errorTitle {
  -moz-margin-start: 80px;
}

#errorLongContent {
  -moz-margin-start: 80px;
}

#getMeOutOfHereButton {
  background-color: #0a84ff;
  border-color: transparent;
  color: #fff;
}

#getMeOutOfHereButton:hover:not(:active) {
  background-color: #0060df;
}

#getMeOutOfHereButton:hover:active {
  background-color: #003EAA;
}

.expander > button {
  -moz-padding-start: 20px;
  -moz-margin-start: -20px;
  background: url("chrome://browser/skin/aboutCertError_sectionExpanded.png") left center no-repeat;
  border: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

.expander > button:-moz-dir(rtl) {
  background-position: right center;
}

.expander[collapsed] > button {
  background-image: url("chrome://browser/skin/aboutCertError_sectionCollapsed.png");
}

.expander[collapsed] > button:-moz-dir(rtl) {
  background-image: url("chrome://browser/skin/aboutCertError_sectionCollapsed-rtl.png");
}
