/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://global/skin/in-content/info-pages.css");

:root {
  --card-shadow: 0 1px 4px rgba(12, 12, 13, 0.1);
  --card-outline-color: #d7d7db;
  --card-shadow-hover: var(--card-shadow), 0 0 0 5px var(--card-outline-color);
  --card-shadow-focus: 0 0 0 2px #0a84ff, 0 0 0 6px rgba(10, 132, 255, 0.3);
}

#tabs-display,
#tabsList {
  font: message-box;
  -moz-appearance: none;
  background-color: var(--in-content-page-background);
  color: var(--in-content-page-color);
}

#tabsList {
  width: 100%;
  border: none;
}

#headers {
  background: url(chrome://browser/skin/toolbar/sync.svg) 0 7px no-repeat;
  background-size: 32px 32px;
  margin-top: 40px;
  width: 45em;
  height: 32px;
  margin-inline-start: 2em;
  margin-inline-end: 2em;
}

#tabsListHeading {
  font-size: 2.5em;
  font-weight: lighter;
  line-height: 1.2;
  color: var(--in-content-text-color);
  margin-bottom: .2em;
  margin-inline-start: 40px;
}

richlistitem {
  margin-inline-end: 2em;
}

richlistitem[selected="true"],
richlistitem:focus {
  outline-style: none;
}

richlistitem[type="tab"] {
  background-origin: border-box;
  color: var(--in-content-text-color);
  margin: 8px 4px;
  padding-inline-end: 12px;
  background: var(--in-content-box-background);
  border-radius: 4px;
  box-shadow: var(--card-shadow);
  padding: 16px;
  transition: box-shadow 150ms;
}

richlistitem[type="tab"]:hover {
  box-shadow: var(--card-shadow-hover);
}

richlistitem[type="tab"][selected="true"] {
  background-color: var(--in-content-box-background);
  box-shadow: var(--card-shadow-focus);
  color: var(--in-content-text-color);
}

richlistitem[type="client"] {
  min-height: 2em;
  color: #000000;
  margin-inline-start: 2em;
  margin-top: 2px;
  margin-bottom: 3px;
  width: 42em;
  border-radius: 6px;
  background-color: transparent;
  -moz-user-focus: ignore !important;
}
richlistitem.mobile[type="client"] {
  list-style-image: url("chrome://browser/skin/sync-mobileIcon.svg");
}
richlistitem.desktop[type="client"] {
  list-style-image: url("chrome://browser/skin/sync-desktopIcon.svg");
}

.title,
.clientName {
  color: #000000;
  font-size: 1.1em;
}

.title[selected="true"],
.url[selected="true"] {
  color: inherit;
}

.url {
  color: -moz-nativehyperlinktext;
  font-size: 0.95em;
}

.tabIcon {
  margin-top: 3px;
  margin-right: 5px;
  width: 16px;
}
