/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import "chrome://global/skin/";

:root {
  --pref-pane-text: -moz-FieldText;
  --pref-pane-border-focus: 1px dotted #000000;
  --pref-pane-text-selected: #0a84ff;
  --pref-pane-background: -moz-Field;
  --pref-pane-background-hover: hsla(0,0%,70%,.4);
  --pref-pane-background-active: var(--pref-pane-background-hover);
}

/* View buttons */
#viewGroup {
  padding-inline-start: 10px;
}

#viewGroup > radio {
  -moz-appearance: none;
  -moz-box-orient: vertical;
  -moz-box-align: center;
  padding: 5px 3px 1px 3px;
  margin: 0 1px;
  min-width: 4.5em;
  border-top: 2px solid transparent;
}

#topBar {
  margin: 0px;
  padding-inline-start: 10px;
  background-color: var(--pref-pane-background);
  color: var(--pref-pane-text);
}

.viewButtonIcon {
  width: 32px;
  height: 32px;
  filter: url(chrome://browser/skin/filters.svg#fill);
  fill: currentColor;
  color: inherit;
}

#viewGroup > radio:hover {
  background-color: var(--pref-pane-background-hover);
  color: var(--pref-pane-text);
  -moz-appearance: none;
  border-top: 2px solid rgba(0,0,0,0.4);
}

#viewGroup > radio[selected="true"] {
  background-color: var(--pref-pane-background-active);
  color: var(--pref-pane-text-selected); 
  -moz-appearance: none;
  border-top: 2px solid #0a84ff;
}

#viewGroup > radio:-moz-focusring {
  border-left: var(--pref-pane-border-focus);
  border-right: var(--pref-pane-border-focus);
}

#generalTab {
  list-style-image: url("chrome://browser/skin/preferences/settings.svg");
}

#mediaTab {
  list-style-image: url("chrome://browser/skin/media.svg");
}

#feedTab {
  list-style-image: url("chrome://browser/skin/feeds/feedIcon.svg");
}

#permTab {
  list-style-image: url("chrome://browser/skin/permissions.svg#normal");
}

#permTab > .viewButtonIcon {
  filter: none;
}

#permTab[selected="true"] {
  list-style-image: url("chrome://browser/skin/permissions.svg#selected");
}

#securityTab {
  list-style-image: url("chrome://browser/skin/identity-secure.svg");
}

deck {
  padding: 10px 10px 10px 10px;
}

/* Misc */
tree {
  margin: .5em;
}

.gridSeparator {
  width: .5em;
}

textbox {
  background: transparent !important;
  border: none;
  padding: 0px;
  margin-top: 1px;
  -moz-appearance: none;
}

textbox.header {
  margin-inline-start: 0;
}

.iframe {
  margin: .5em;
  background: white;
  overflow: auto;
}

.fixedsize {
  height: 8.5em;
}

textbox[disabled] {
  font-style: italic;
}

/* General Tab */
groupbox.collapsable caption .caption-icon { 
  width: 9px;
  height: 9px;
  background-repeat: no-repeat;
  background-position: center;
  margin-inline-start: 2px;
  margin-inline-end: 2px;
  background-image: url("chrome://global/skin/tree/twisty.svg#open");
}

groupbox.collapsable[closed="true"] {
  border: none;
  margin-bottom: 9px;
  -moz-appearance: none;
}

groupbox.collapsable[closed="true"] caption .caption-icon { 
  background-image: url("chrome://global/skin/tree/twisty.svg#clsd");
}

groupbox tree { 
  margin: 0 3px;
  border: none;
}

#securityBox description { 
  margin-inline-start: 10px;
}

#general-security-identity {
  white-space: pre-wrap;
  line-height: 2em;
}

/* Media Tab */
#imagetree {
  min-height: 10em;
  margin-bottom: 0;
}

#mediaSplitter {
  border-style: none;
  background: none;
  height: .8em;
}

#mediaGrid {
  min-height: 9em;
}

#mediaLabelColumn {
  min-width: 10em;
}

#thepreviewimage {
  margin: 1em;
}

treechildren::-moz-tree-cell-text(broken) {
  font-style: italic;
  color: graytext;
}

/* Feeds Tab */
#feedtree {
  margin-bottom: 0px;
}

#feedListbox richlistitem {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-inline-start: 7px;
  padding-inline-end: 7px;
  min-height: 25px;
  border-bottom: 1px dotted #C0C0C0;
}

#feedListbox richlistitem[selected="true"] {
  background-color: -moz-Dialog;
  color: -moz-DialogText;
}

#feedListbox {
  border: 2px solid;
  -moz-border-top-colors: ThreeDShadow ThreeDDarkShadow;
  -moz-border-right-colors: ThreeDHighlight ThreeDLightShadow;
  -moz-border-bottom-colors: ThreeDHighlight ThreeDLightShadow;
  -moz-border-left-colors: ThreeDShadow ThreeDDarkShadow;
}

.feedTitle { 
  font-weight: bold;
}

/* Permissions Tab */
#permList {
  margin-top: .5em;
  overflow: auto;
  border: 2px solid;
  -moz-border-top-colors: ThreeDShadow ThreeDDarkShadow;
  -moz-border-right-colors: ThreeDHighlight ThreeDLightShadow;
  -moz-border-bottom-colors: ThreeDHighlight ThreeDLightShadow;
  -moz-border-left-colors: ThreeDShadow ThreeDDarkShadow;
  background-color: -moz-field;
}

.permission {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-inline-start: 7px;
  padding-inline-end: 7px;
  min-height: 25px;
  border-bottom: 1px dotted #C0C0C0;
}

.permissionLabel {
  font-weight: bold;
}

.permission:hover {
  background-color: -moz-dialog;
}

/* Security Tab */
#securityPanel .caption-icon {
  display: none;
}

#securityPanel .header {
  font-size: 120%;
}
 
#securityPanel .fieldLabel {
  margin: 2px 10px 3px 10px;
}

#securityPanel .fieldValue {
  font-weight: bold;
  margin: 2px 10px 0px 10px;
}
