/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== autocomplete.css =================================================
  == Styles used by the autocomplete widget.
  ======================================================================= */

@import url("chrome://os/skin/autocomplete.css");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

/* ::::: autocomplete ::::: */

/* .padded is used by autocomplete widgets that don't have an icon. Gross. -dwh */
textbox:not(.padded) {
  cursor: default;
  padding: 0;
}

textbox[nomatch="true"][highlightnonmatches="true"] {
  color: red;
}

.autocomplete-textbox-container,
.private-autocomplete-textbox-container {
  -moz-box-align: center;
}

textbox:not(.padded) .textbox-input-box {
  margin: 0 3px;
}

.textbox-input-box {
  -moz-box-align: center;
}

/* ::::: autocomplete popups ::::: */

.autocomplete-history-popup,
.private-autocomplete-history-popup {
  max-height: 180px;
}

/* ::::: tree ::::: */

.autocomplete-tree,
.private-autocomplete-tree {
  -moz-appearance: none !important;
  border: none !important;
  background-color: transparent !important;
}

.autocomplete-treecol,
.private-autocomplete-treecol {
  -moz-appearance: none !important;
  margin: 0 !important;
  border: none !important;
  padding: 0 !important;
}

/* GTK calculates space for a sort arrow */
.autocomplete-treecol > .treecol-sortdirection,
.private-autocomplete-treecol > .treecol-sortdirection {
  -moz-appearance: none !important;
}

.autocomplete-treebody::-moz-tree-cell-text,
.private-autocomplete-treebody::-moz-tree-cell-text {
  padding-inline-start: 8px;
}

treechildren.autocomplete-treebody::-moz-tree-row(selected),
treechildren.private-autocomplete-treebody::-moz-tree-row(selected) {
 background-color: Highlight;
}

treechildren.autocomplete-treebody::-moz-tree-cell-text(selected),
treechildren.private-autocomplete-treebody::-moz-tree-cell-text(selected) {
  color: HighlightText !important;
}

.autocomplete-treebody::-moz-tree-image(treecolAutoCompleteValue),
.private-autocomplete-treebody::-moz-tree-image(treecolAutoCompleteValue) {
  max-width: 16px;
  height: 16px;
}

/* ::::: richlistbox autocomplete ::::: */

/* ::::: textboxes inside toolbarpaletteitems ::::: */

toolbarpaletteitem > toolbaritem > textbox > hbox > hbox > html|*.textbox-input {
  visibility: hidden;
}

toolbarpaletteitem > toolbaritem > * > textbox > hbox > hbox > html|*.textbox-input {
  visibility: hidden;
}