/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== global.css =====================================================
  == Styles that apply everywhere.
  ======================================================================= */

/* all localizable skin settings shall live here */
@import url("chrome://global/locale/intl.css");
@import url("chrome://os/skin/global.css");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: XBL bindings ::::: */

menulist > menupopup {
  -moz-binding: url("chrome://global/content/bindings/popup.xml#popup-scrollbars");
}

/* ::::: root elements ::::: */

window,
page,
dialog,
wizard,
prefwindow {
  color: -moz-DialogText;
  font: message-box;
}

/* deprecated */
window.dialog {
  padding-top: 8px;
  padding-bottom: 10px;
  padding-inline-start: 8px;
  padding-inline-end: 10px;
}

/* ::::: iframe ::::: */

iframe {
  border: none;
  width: 100px;
  height: 100px;
  min-width: 10px;
  min-height: 10px;
}

/* ::::: miscellaneous formatting ::::: */

:root:-moz-lwtheme,
[lwthemefooter="true"] {
  -moz-appearance: none;
}

:root:-moz-lwtheme-darktext {
  text-shadow: 0 -0.5px 1.5px white;
}

:root:-moz-lwtheme-brighttext {
  text-shadow: 1px 1px 1.5px black;
}

.inset {
  border: 1px solid ThreeDShadow;
  border-right-color: ThreeDHighlight;
  border-bottom-color: ThreeDHighlight;
  margin: 0 5px 5px;
}

.outset {
  border: 1px solid ThreeDShadow;
  border-left-color: ThreeDHighlight;
  border-top-color: ThreeDHighlight;
}

separator:not([orient="vertical"]) {
  height: 1.5em;
}
separator[orient="vertical"] {
  width: 1.5em;
}

separator.thin:not([orient="vertical"]) {
  height: 0.5em;
}  

separator.thin[orient="vertical"] {
  width: 0.5em;
}

/* Notification action buttons */

notification:not([type="info"]):not([type="critical"]) > button:not(.messageCloseButton) {
  background-color: #d7b600;
}

notification:not([type="info"]):not([type="critical"]) > button:not(.messageCloseButton):hover {
  background-color: #a47f00;
  color: #fff;
}

notification:not([type="info"]):not([type="critical"]) > button:not(.messageCloseButton):hover:active {
  background-color: #715100;
  color: #fff;
}

notification[type="info"] > button:not(.messageCloseButton) {
  background-color: rgba(12, 12, 13, 0.1);
}

notification[type="info"] > button:not(.messageCloseButton):hover {
  background-color: rgba(12, 12, 13, 0.2);
}

notification[type="info"] > button:not(.messageCloseButton):hover:active {
  background-color: rgba(12, 12, 13, 0.3);
}

notification[type="critical"] > button:not(.messageCloseButton) {
  background-color: #a4000f;
}

notification[type="critical"] > button:not(.messageCloseButton):hover {
  background-color: #5a0002;
}

notification[type="critical"] > button:not(.messageCloseButton):hover:active {
  background-color: #3e0200;
}

.plain {
  -moz-appearance: none;
  margin: 0 !important;
  border: none;
  padding: 0;
}

description,
label {
  cursor: default;
}

description {
  margin-bottom: 4px;
}

label[disabled="true"] {
  color: GrayText;
}

.tooltip-label {
  margin: 0;
}

.header {
  font-weight: bold;
}

.monospace {
  font-family: monospace;
}

.indent {
  margin-inline-start: 23px;
}

.box-padded {
  padding: 5px;
}

.spaced {
  margin: 3px 5px 4px;
}

.wizard-box {
  padding: 20px 44px 10px;
}

.text-link {
  color: -moz-nativehyperlinktext;
  cursor: pointer;
}

.text-link:hover {
  text-decoration: underline;
}

/* :::::: autoscroll popup ::::: */

.autoscroller {
  height: 28px;
  width: 28px;
  border: none;
  margin: -14px;
  padding: 0;
  background-image: url("chrome://global/skin/icons/autoscroll.png");
  background-color: transparent;
  background-position: right top;
  -moz-appearance: none;
}

.autoscroller[scrolldir="NS"] {
  background-position: right center;
}

.autoscroller[scrolldir="EW"] {
  background-position: right bottom;
}

/* ::::: Close button icons ::::: */

.close-icon {
  list-style-image: url("chrome://global/skin/icons/close.svg");
  padding: 0 1px;
  color: inherit;
}

.close-icon > .toolbarbutton-icon {
  border-radius: 2px;
}

.close-icon:hover:not(:active) > .toolbarbutton-icon {
  background-color: hsla(0,0%,70%,.4);
}

.close-icon:hover:active > .toolbarbutton-icon {
  background-color: hsla(0,0%,70%,.6);
}
