/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== menu.css =======================================================
  == Styles used by XUL menu-related elements.
  ======================================================================= */

@import url("chrome://os/skin/global/menu.css");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");