@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

:root {
  --toolbarbutton-border-radius: 4px !important;
  --toolbarbutton-hover-background: rgba(255,255,255,.5) linear-gradient(rgba(255,255,255,.5), transparent) !important;
  --toolbarbutton-hover-bordercolor: rgba(0,0,0,.25) !important;
  --toolbarbutton-hover-boxshadow: none !important;

  --toolbarbutton-active-background: rgba(154,154,154,.5) linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,.4)) !important;
  --toolbarbutton-active-bordercolor: rgba(0,0,0,.3) !important;
  --toolbarbutton-active-boxshadow: 0 1px 1px rgba(0,0,0,.1) inset, 0 0 1px rgba(0,0,0,.3) inset !important;

  --toolbarbutton-checkedhover-backgroundcolor: rgba(200,200,200,.5) !important;

  --urlbar-separator-color: ThreeDShadow !important;
}

/* navigator-toolbox */

#navigator-toolbox[tabsontop="false"]:not(:-moz-lwtheme) > toolbar {
  background-color: #232323;
  background-image: transparent;
  color: hsl(240, 9%, 98%);
  text-shadow: none;
}

/* ensure titlebar on privacy windows is of correct size */
#titlebar {
  height: 22px;
}

/* ensure extra titlebar doesn't appear on normal (e.g. non-privacy) windows */
#main-window:not([privatebrowsingmode=temporary]):not(:-moz-lwtheme) > #titlebar > #titlebar-content > #titlebar-buttonbox-container,
#main-window:not([drawintitlebar=true]):not(:-moz-lwtheme) > #titlebar {
  display: none;
}

#titlebar-spacer {
  display: none;
}

#titlebar-buttonbox-container {
  margin-left: 7px;
  margin-top: 3px;
}

#main-window:-moz-lwtheme > #titlebar {
  -moz-appearance: none !important;
}

/* ::::: bookmark buttons ::::: */

.bookmark-item > .toolbarbutton-icon[label]:not([label=""]),
.bookmark-item > .toolbarbutton-icon[type="menu"] {
  margin-inline-end: 5px;
}

/* Appcontent fix/hack */
#appcontent {
  margin: 0 -5px !important;
}

/* Tab fixes */
#TabsToolbar[tabsontop="true"]:not(:-moz-lwtheme) {
  background-color: #232323;
  color: hsl(240, 9%, 98%);
  text-shadow: none;
}

.tabbrowser-tab[selected="true"]:not(:-moz-lwtheme),
.tabbrowser-tab[selected="true"]:not(:-moz-lwtheme) > * > * > .tab-text {
  color: #000;
  text-shadow: none;
}

.tabbrowser-tab[beforeselected]::after,
.tabbrowser-tab[selected]::after {
  display: none;
}

.tab-background[selected] {
  margin-top: -1px;
}

.toolbarbutton-1 > .toolbarbutton-menu-dropmarker,
.toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker {
  list-style-image: url("chrome://global/skin/arrow/arrow-dropdown-12.svg");
  filter: url(chrome://browser/skin/filters.svg#fill);
  fill: currentColor;
  color: inherit;
}

/* Location bar */
#urlbar,
.searchbar-textbox {
  font-size: 1.25em;
}

/* Private browsing indicator */

#main-window[privatebrowsingmode=temporary] #TabsToolbar::before {
  display: -moz-box;
  content: "";
  background: url("chrome://browser/skin/private-browsing.svg") center no-repeat;
  width: 30px;
  color: inherit;
}